In [1]:
import pandas as pd
import numpy as np

data = [10, 11, 12]
index = ['a', 'b', 'c']

a    10
b    11
c    12
dtype: int64

##  Series的增删改查

In [ ]:
s = pd.Series(data = data, index = index)
s

In [2]:
s[0]

10

In [3]:
s[0:2]

a    10
b    11
dtype: int64

In [7]:
s[True, False, True]      # 这样会报错

KeyError: 'key of type tuple not found and not a MultiIndex'

In [8]:
mask = [True, False, True]
s[mask]

a    10
c    12
dtype: int64

In [10]:
s1 = s.copy()
s1['a'] = 100
s1

a    100
b     11
c     12
dtype: int64

In [11]:
s

a    10
b    11
c    12
dtype: int64

In [15]:
s1.replace(to_replace = 100, value = 101, inplace= False)   # inplace= False  面板上改了，但是实际没改
s1

a    101
b     11
c     12
dtype: int64

In [14]:
s1.replace(to_replace = 100, value = 101, inplace= True)   # inplace= True  实际改动
s1

a    101
b     11
c     12
dtype: int64

In [16]:
s1.index = ['a', 'b', 'd']
s1

a    101
b     11
d     12
dtype: int64

In [17]:
s1.rename(index= {'a': 'A'}, inplace=True)
s1

A    101
b     11
d     12
dtype: int64

In [18]:
s2 = pd.Series([100, 50], index = ['g', 'h'])
s2

g    100
h     50
dtype: int64

In [23]:
s3 = s1.append(s2)
s3['j'] = 500  # 这种硬加 
s3

C:\Users\RZ\AppData\Local\Temp\ipykernel_12856\1979498385.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s3 = s1.append(s2)

A    101
b     11
d     12
g    100
h     50
j    500
dtype: int64

In [24]:
s4 = pd.concat([s1, s2], ignore_index=False)
s4

A    101
b     11
d     12
g    100
h     50
dtype: int64

In [25]:
s5 = pd.concat([s1, s2], ignore_index=True)
s5

0    101
1     11
2     12
3    100
4     50
dtype: int64

In [28]:
s4

A    101
d     12
g    100
h     50
dtype: int64

In [29]:
del s4['g']  # 删除一行 
s4

A    101
d     12
h     50
dtype: int64

In [30]:
s4.drop(['d','h'], inplace=True)# 删除多行
s4

A    101
dtype: int64

##  df的增删改查

In [31]:
data = [[1, 2, 3],[4, 5, 6]]
index = ['a', 'b']
columns = ['A', 'B','C']

df = pd.DataFrame(data=data, index=index, columns=columns)
df

   A  B  C
a  1  2  3
b  4  5  6

In [32]:
df['A']

a    1
b    4
Name: A, dtype: int64

In [33]:
df.loc['a']['A']

1

In [34]:
df.loc['a']['A'] = 150  # 先 index 再 columns列名
df

     A  B  C
a  150  2  3
b    4  5  6

In [35]:
df.index = ['f', 'g']
df

     A  B  C
f  150  2  3
g    4  5  6

In [39]:
df.drop(['A'], axis=1, inplace=True)
df

   B  C
f  2  3
g  5  6

In [40]:
df.drop(['g'], axis=0, inplace=True)
df

   B  C
f  2  3

In [44]:
data = [[1, 2, 3],[4, 5, 6]]
index = ['a', 'b']
columns = ['A', 'B','C']

df = pd.DataFrame(data=data, index=index, columns=columns)
df

   A  B  C
a  1  2  3
b  4  5  6

In [45]:
df.drop(['A', 'B'], axis=1, inplace=True)
df

   C
a  3
b  6