In [1]:
import pandas as pd
import numpy as np


s = pd.Series(np.arange(5), index= np.arange(5)[::-1], dtype='int64')
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [2]:
s.isin([1, 3, 4])

4    False
3     True
2    False
1     True
0     True
dtype: bool

In [3]:
s[s.isin([1, 3, 4])]

3    1
1    3
0    4
dtype: int64

In [4]:
s2 = pd.Series(np.arange(6), index= pd.MultiIndex.from_product([[0,1], ['a', 'b', 'c']]))
s2

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int32

In [7]:
s2.index.isin([(1, 'a'), (0, 'b')])

array([False,  True, False,  True, False, False])

In [8]:
s2.iloc[s2.index.isin([(1, 'a'), (0, 'b')])]

0  b    1
1  a    3
dtype: int32

In [9]:
s

4    0
3    1
2    2
1    3
0    4
dtype: int64

In [10]:
s[s>2]

1    3
0    4
dtype: int64

In [16]:
dates = pd.date_range('20230514', periods=8)
dates

DatetimeIndex(['2023-05-14', '2023-05-15', '2023-05-16', '2023-05-17',
               '2023-05-18', '2023-05-19', '2023-05-20', '2023-05-21'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2023-05-14 -0.393346  0.313403 -1.180723  2.218021
2023-05-15 -0.670658  1.094081 -0.573772  0.616946
2023-05-16 -0.515584  0.117706 -1.431446 -0.024498
2023-05-17  0.904917  1.198011  2.027374  0.103326
2023-05-18  1.014635  2.833602  0.246746  0.505959
2023-05-19  0.482063 -2.469198 -1.107112 -0.029653
2023-05-20  1.248476 -0.315585  0.090879  0.775252
2023-05-21  0.360029  0.320905  0.279846 -0.224569

In [18]:
df.select(lambda x:x=='A', axis='columns') # 版本问题

AttributeError: 'DataFrame' object has no attribute 'select'

In [20]:
df

                   A         B         C         D
2023-05-14 -0.393346  0.313403 -1.180723  2.218021
2023-05-15 -0.670658  1.094081 -0.573772  0.616946
2023-05-16 -0.515584  0.117706 -1.431446 -0.024498
2023-05-17  0.904917  1.198011  2.027374  0.103326
2023-05-18  1.014635  2.833602  0.246746  0.505959
2023-05-19  0.482063 -2.469198 -1.107112 -0.029653
2023-05-20  1.248476 -0.315585  0.090879  0.775252
2023-05-21  0.360029  0.320905  0.279846 -0.224569

In [19]:
df.where(df < 0)

                   A         B         C         D
2023-05-14 -0.393346       NaN -1.180723       NaN
2023-05-15 -0.670658       NaN -0.573772       NaN
2023-05-16 -0.515584       NaN -1.431446 -0.024498
2023-05-17       NaN       NaN       NaN       NaN
2023-05-18       NaN       NaN       NaN       NaN
2023-05-19       NaN -2.469198 -1.107112 -0.029653
2023-05-20       NaN -0.315585       NaN       NaN
2023-05-21       NaN       NaN       NaN -0.224569

In [21]:
df.where(df < 0, -df)   # 小于零的不动， 大于零的做 -df 的操作  ！！！

                   A         B         C         D
2023-05-14 -0.393346 -0.313403 -1.180723 -2.218021
2023-05-15 -0.670658 -1.094081 -0.573772 -0.616946
2023-05-16 -0.515584 -0.117706 -1.431446 -0.024498
2023-05-17 -0.904917 -1.198011 -2.027374 -0.103326
2023-05-18 -1.014635 -2.833602 -0.246746 -0.505959
2023-05-19 -0.482063 -2.469198 -1.107112 -0.029653
2023-05-20 -1.248476 -0.315585 -0.090879 -0.775252
2023-05-21 -0.360029 -0.320905 -0.279846 -0.224569

In [22]:
df = pd.DataFrame(np.random.randn(10, 3), columns= list('abc'))
df

          a         b         c
0 -1.865567  0.075925 -0.619107
1  1.292427  0.487278  1.807495
2 -0.739840 -1.093277 -0.959931
3 -0.265447 -0.023093  0.521512
4 -0.672590 -1.190257  0.144665
5 -0.688587 -0.382395 -0.488611
6  1.616147  0.440001 -1.713231
7 -0.598698  0.458223 -0.967108
8  0.233654 -1.606851  0.645688
9 -0.005162  0.467559  0.831741

In [24]:
df.query('(a < b)')

          a         b         c
0 -1.865567  0.075925 -0.619107
3 -0.265447 -0.023093  0.521512
5 -0.688587 -0.382395 -0.488611
7 -0.598698  0.458223 -0.967108
9 -0.005162  0.467559  0.831741

In [25]:
df.query('(a < b) & (b < c)')

          a         b         c
3 -0.265447 -0.023093  0.521512
9 -0.005162  0.467559  0.831741